In [1]:
import pandas as pd

In [2]:
dt=pd.read_csv("./budget.csv")
dt.shape

(264, 63)

In [3]:
dummy_dt = pd.get_dummies(dt)
dummy_dt 
# k dummy data

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,Code_XKX,Code_YEM,Code_ZAF,Code_ZMB,Code_ZWE,Type_Country,Type_Regions Clubbed Economically,Type_Regions Clubbed Geographically,Type_Semi Autonomous Region,Indicator Name_Military expenditure (current USD)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,1,0,0,0,1
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,1,0,0,0,1
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,1,0,0,0,1
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,1,0,0,0,1
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0,0,0,0,1,0,0,0,1
260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,0,0,1,0,0,0,1
261,69999972.0,113749954.5,186199925.5,188999924.4,271599891.4,289449884.2,324449870.2,373099850.8,399699840.1,425599829.8,...,0,0,1,0,0,1,0,0,0,1
262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,1,0,0,0,1
263,NaN,NaN,NaN,NaN,NaN,15600000.0,16950000.0,19000000.0,30600000.0,42350000.0,...,0,0,0,0,1,1,0,0,0,1

In [4]:
dummy_dt = pd.get_dummies(dt, drop_first=True)
dummy_dt

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,Code_WLD,Code_WSM,Code_XKX,Code_YEM,Code_ZAF,Code_ZMB,Code_ZWE,Type_Regions Clubbed Economically,Type_Regions Clubbed Geographically,Type_Semi Autonomous Region
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,0,0,0,0,0
260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,0,0,0
261,69999972.0,113749954.5,186199925.5,188999924.4,271599891.4,289449884.2,324449870.2,373099850.8,399699840.1,425599829.8,...,0,0,0,0,1,0,0,0,0,0
262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,1,0,0,0,0
263,NaN,NaN,NaN,NaN,NaN,15600000.0,16950000.0,19000000.0,30600000.0,42350000.0,...,0,0,0,0,0,0,1,0,0,0

In [5]:
from sklearn.preprocessing import OneHotEncoder

In [6]:
oh_enc = OneHotEncoder(sparse=False)

In [10]:
oh_enc_arr=oh_enc.fit_transform(dt[['Code']])
oh_enc_arr

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])